<div class="container" style="margin: 3em 0;">
  <form #searchForm="ngForm" class="form">
    <mat-form-field class="form-control">
      <input matInput type="text" class="form" name="city" [(ngModel)]="city">
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="getCity(); searchForm.resetForm()">Search</button>
  </form>

  <div class="city-weather" *ngIf="cityWeather">
    <h1>Your City</h1>
    <div *ngFor="let x of cityWeather.weather">
      <h2>{{cityWeather.name}}</h2>
      <img [src]="'http://openweathermap.org/img/w/' + x.icon + '.png'" alt="">
      <p>{{cityWeather.main.temp}}</p>
      <p>{{x.main}} - {{x.description}}</p>
    </div>
  </div>
</div>
